<nav class="navbar navbar-expand-sm bg-dark navbar-dark"> <!-- Always put navbar include. Link here: https://www.w3schools.com/bootstrap5/bootstrap_navbar.php-->
  <div class="container-fluid">
    <a class="navbar-brand" href="/">LLS</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar"> <!-- This customizes the navbar into a reactive one.-->
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar"> <!-- Initialises the navbar.-->
      <ul class="navbar-nav"> <!-- The navbar is in the form of a html table-->
        <li class="nav-item"> <!-- every list item is a mebu option-->
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Manage Users</a>
          <ul class="dropdown-menu"> <!-- Creating a list inside a list item allows for a menu within a menu-->
           <li><a class="dropdown-item" href="/createUser">Create User</a></li>
           <li><a class="dropdown-item" href="/retrieveUsers">Retrieve Users</a></li>
           </ul>
         </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Manage Customers</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/createCustomer">Create Customer</a></li>
            <li><a class="dropdown-item" href="/retrieveCustomers">Retrieve Customers</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/contactUs">Contact Us</a>
        </li>
      </ul>
    </div>
  </div>
</nav>